body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('V.jpeg');
    background-size: cover; /* Ajuste la taille de l'image pour couvrir tout l'élément */
    /* Vous pouvez ajouter d'autres propriétés comme la couleur de fond en cas d'échec de chargement de l'image */
    background-color: #000000;
  }

  h1{
    text-align: center;
    color: rgba(225, 182, 26, 0.801);
    font-size: 60px;
    background-color: black;
    
  }